<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Title-->
	<title>Eat da Burgers!</title>
    <!--Google Fonts-->
	<link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
	<!--CSS style sheet-->
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<!-- Link to JQuery-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Javascript File-->
  <script src="/assets/js/burgerApp.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
