<div class="container">
    <div class="row">
        <div class"col-md-12">
            <img src="/assets/img/burg.png" alt="happy burger">
            <div id="top">
                <h1>Eat-Da-Burger!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!--Undevoured burgers-->
                <ul>
                    {{#each burgers}}
                    {{#unless devoured}}
                    <div>
                        {{this.burger_name}}
                    </div>
                    <form action="/api/burgers/update?burger_id=PUT" method="PUT" class="button-size">
                        <input input type="hidden" name="burger_id" value={{this.id}}>
                        <br>
                        <button type="submit" class="btn btn-default">Devour It!</button>
                    </form>
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
            <div class="col-md-6">
                <!--Devoured burgers-->
                <ul>
                    {{#each burgers}}
                    {{#if devoured}}
                    <input class="form-control" type="text" placeholder="{{this.id}}. {{this.burger_name}}" readonly>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{!-- <form id="newBurger"> --}}
                <div class="form-group">
                    {{!-- <div class="form-group">
                        <textarea class="form-control" id="textarea1" rows="1"></textarea>
                    </div> --}}
                </div>
                <form action="/api/burgers/create" method="POST" class="button-size">
                        <input type="text" name="burger_name" value="">
                        <br>
                         <button type="submit" class="btn btn-primary">Submit</button>
                        {{!-- <button type="submit" class="btn btn-default">Devour It!</button> --}}
                    </form>
                {{!-- <button type="submit" class="btn btn-primary">Submit</button> --}}
            {{!-- </form> --}}
            <h5 id="enterBurger">Enter a burger you want to eat! Then click the submit button.</h5>
        </div>
    </div>
</div>