<div class="container">
    <div class="row d-flex justify-content-center">
        <div class"col-lg-12">
            <img src="/assets/img/burg.png" alt="happy burger">
            <div id="top">
                <h1>Eat-Da-Burger!</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class"col-lg-6">
            <div class="row">
                <!--Undevoured burgers-->
                {{#each burgers}}
                {{#unless devoured}}
                <div class="col-sm-5">
                    <span class="badge badge-light" id="leftBadge">
                        {{this.burger_name}}
                    </span>
                </div>
                <div class="col-sm-3">
                    <form action="/api/burgers/update?burger_id=PUT" method="PUT" class="button-size">
                        <input input type="hidden" name="burger_id" value={{this.id}}>
                        <button type="submit" class="btn btn-success" id="devourButton">Devour It!</button>
                    </form>
                </div>
                {{/unless}}
                {{/each}}
                <div class="col-sm-4">
                    <!--Devoured burgers-->
                    {{#each burgers}}
                    {{#if devoured}}
                        <span class="badge badge-light" id="rightBadge">
                            <input class="form-control" type="text" placeholder="{{this.id}}. {{this.burger_name}}" readonly>
                        </span>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="form-group">
            </div>
            <h5 id="enterBurger">Enter a burger you want to eat! Then click the submit button.</h5>
            <form action="/api/burgers/create" method="POST" class="button-size">
                <input type="text" name="burger_name" value="">
                <br><br>
                <button type="submit" class="btn btn-primary" id="bottomSubmit">Submit</button>
            </form>
        </div>
    </div>
</div>