body {
    background-color: #ffcb68;
    font-family: 'Fredoka One', cursive;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 50px;
}

#top {
    text-align: center;
    padding-bottom: 50px;
}

#enterBurger {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
}

#leftBadge {
    padding: 10px;
    width: 250px;
    text-align: left;
    margin: 5px;
}

#rightBadge {
    padding: 10px;
    width: 250px;
    text-align: right;
    margin: 5px;
}

#devourButton {
    margin: 5px;
}

#bottomSubmit {
    margin-bottom: 200px;
}